.page{
	height: 1266;
	width: 2027;
	margin: 0 auto;
	padding-bottom: 120px 80px 10px 80px;
	font: 13px/1.5 sans-serif;
	font-size: 130%;

}

.top{
	padding-left: 85px;
}

.top1{
	margin-top: 30px;


}


a {
	text-decoration: none;
}

.bold{
	font-weight: bold;


}

.welcome{

	font-weight: bold;
	text-align: right;
}

.headDiv{
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  flex-direction: row;
	  margin-left: 10%;



}


.inlineDiv{
    margin: 0 380px 40 0;
	
}


img {
	max-width: 140px;
	max-height: 140px;

	}


footer{

	text-align: center;
    font: 13px/1.5 sans-serif;
    max-height: 50px;

}
.ulStyle {



}
li{
display: inline;
list-style-type: none;
padding-right: 20px;

}

/*.footerDiv {
 	max-height: 10px;
 	max-width: 50px;



}*/

